# Security
SECRET_KEY=

# Supabase
SUPABASE_PROJECT_URL=
SUPABASE_ANON_KEY=

# External APIs
OPENAI_API_KEY=
OPENROUTE_API_KEY=

# PostgreSQL
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=smart_courier_assistant
POSTGRES_USER=postgres